footer {
  color: white;
  background-color: $color__base;

  table.info__content {
    margin: 0 0 $space--large * 2;

    td {
      padding-bottom: $space;
    }

    td a {
      color: white;
    }

    @include breakpoint(tablet__portrait) {
      margin-top: $space; 
    }
  }
}
