.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: white;
  border-bottom: 1px solid $color__base--border;

  &__logo {
    width: 50px;
    height: 41px;
    padding: $space $space $space $padding;
  }

  a {
    text-decoration: none;
    color: $color__font;
    align-items: center;

    &.button {
      float: right;
      color: white;
    }
  }

  & > .flex {
    justify-content: space-between;
    align-items: center; 

    @include breakpoint(mobile) {
      .flex__child.logo {
        .flex__mobile {
          padding: 0;
        }
      }

      .flex__child.button__container .button {
        font-size: 0.95em;
        padding: 0 $space;
      }
    }
  }

  h1 {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.1;
    font-weight: $font__weight;

    span {
      font-size: 14px;
      font-family: $font__secondary;
      font-weight: $font__weight--light;
      text-transform: lowercase;
      display: block;
    }
  }

  @include breakpoint(tablet__portrait) {
    &__logo {
      width: 60px;
      height: 51px;
    }

    h1 {
      font-size: 25px;
    }

    h1 span {
      font-size: 16px;
    }
  }
}
