body {
  &.modal--open {
    //overflow: hidden;
    .header {
      position: relative;
    }

    main {
      display: none;
    }
  }

  main {
    display: block;
  }
}

.modal {
  position: relative;
  z-index: 1001;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(white, 0.98);
  visibility: hidden;
  pointer-events: none;
  display: none;

  &.open {
    pointer-events: auto;
    visibility: visible;
    display: block;
  }

  .modal-service {
    display: none;

    &.active {
      display: block;
    }
  }

  @include mobile--only {
    // .modal-service.active {
    //   overflow-y: scroll;
    //   -webkit-overflow-scrolling: touch;
    //   padding-bottom: 200px;
    // }
  }
}

#modal--close {
  cursor: pointer;
  font-family: $font__primary;
  text-align: right;
  margin-bottom: $space;
}
