<header class="header">
  <div class="flex flex__mobile">

    <div class="flex__child logo">
      <a href="{{ path }}" class="flex flex__mobile">
        <img class="header__logo" src="svg/ardor_care_logo.svg" alt="Ardor Care Company Logo"/>
        <h1>Ardor <span>Care Company</span></h1>
      </a>
    </div>

    <div class="flex__child button__container">
      <a href="{{ career.url }}" target="_blank" class="button">
        {{ career.button }}
      </a>
    </div>

  </div>

</header>
