button, .button, input[type="button"], input[type="submit"] {
  appearance: none;
  border: 0;
  outline: 0;
  height: $button--height;
  line-height: $button--height;
  vertical-align: baseline;
  min-width: auto;
  display: inline-block;
  box-sizing: content-box;
  font-family: $font__primary;
  color: set-text-color($color__primary);
  background-color: $color__primary;
  margin: $space--medium 0;
  padding: 0 $space--large * 1.5;
  cursor: pointer;
  transition: color 0.12s $ease-in-out-sine, background-color 0.12s $ease-in-out-sine;

  &::last-child {
    margin-left: $space;
  }

  &:hover, &:focus {
    color: set-text-color($color__primary--dark);
    background-color: $color__primary--dark;
  }

  &[disabled] {
    color: transparentize($color__font, 0.8);
    background-color: transparentize($color__primary, 0.8);
    cursor: default;
  }
}

.button {
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: none;
  }

  &--secondary {
    color: set-text-color($color__secondary);
    background-color: $color__secondary;

    &:hover, &:focus {
      color: set-text-color($color__secondary--light);
      background-color: $color__secondary--light;
    }
  }

  &--accent {
    color: set-text-color($color__accent);
    background-color: $color__accent;

    &:hover, &:focus {
      color: set-text-color($color__accent--dark);
      background-color: $color__accent--dark;
    }
  }
}
