html, body {
  font: 100%/1.4 $font__secondary;
  font-weight: $font__weight--light;
}

body {
  width: 100%;
  height: 100%;
}

a {
  &:hover, &:focus {
    text-decoration: underline;
  }
}

section {
  &.info {
    padding-bottom: $space--large * 3;
  }
}

.flex + section.info {
  margin-top: $space--large * 3;
}
