html, body {
  font: 100%/1.4 $font__secondary;
  font-weight: $font__weight--light;
}

body {
  width: 100%;
  height: 100%;
}

main {
  margin-top: $main__margin--mobile;

  @include breakpoint(tablet__portrait) {
    margin-top: $main__margin;
  }
}

a {
  &:hover, &:focus {
    text-decoration: underline;
  }
}

section {
  &.info {
    padding-bottom: $space--large;
  }
}

.flex + section.info {
  margin-top: $space--large;
}

@include breakpoint(tablet__portrait) {
  section {
    &.info {
      padding-bottom: $space--large * 2;
    }
  }

  .flex + section.info {
    margin-top: $space--large * 2;
  }
}

.center {
  text-align: center; 
}
