html, body {
  font: 100%/1.4 $font__secondary;
}

body {
  width: 100%;
  height: 100%;
}

a {
  &:hover, &:focus {
    text-decoration: underline;
  }
}

h1 {
  font-family: $font__primary;
  font-weight: $font__weight;
  margin-bottom: $space;

  &.descriptive {
    visibility: hidden;
    height: 0;
    margin: 0;
  }
}

section {
  &.info {
    padding-bottom: $space--large * 3; 
  }
}
