#content__container {
  min-height: 75vh;
}

section {
  width: 100%;
}

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 $padding;
  max-width: $max-width;

  &__col {
    width: 100%;
    flex: 1 0 auto;
    padding: $padding;
    box-sizing: border-box;

    &--content, &--image {
      margin-bottom: $space--large;
    }

    img {
      width: 100%;
    }
  }

  &__mobile {
    flex-direction: row;
  }

  &.content {
    flex-direction: column;
    padding: 0;
  }

  @include for-IE-only {
    display: block;
  }
}

.justify__content--between {
  justify-content: space-between;
}

@include breakpoint(tablet__portrait) {
  .flex {
    flex-direction: row;

    &__col {
      padding: 0;
      margin: $gutter $gutter $gutter;
      flex: 1 0 auto; // IE Fix

      &--content, &--image {
        flex: 1 0;
        //order: 1;
      }

      &--content + .flex__col--image {
        //order: 0;
      }


    }

    &__col--66 {
      margin: 0;
      padding: $gutter $gutter $gutter;
      flex: 0 1 66%;
    }

    &__col--50 {
      margin: 0;
      padding: $gutter $gutter $gutter;
      flex: 0 1 50%;
    }

    &__col--33 {
      margin: 0;
      padding: $gutter $gutter $gutter;
      flex: 0 1 33%;
    }

    &__col--25 {
      margin: 0;
      padding: $gutter $gutter $gutter;
      flex: 0 1 25%;
    }

    &__col--18 {
      margin: 0;
      padding: $gutter $gutter $gutter;
      flex: 0 1 18%;
    }
  }
}

// Col Numbers
@for $i from 1 through 12 {
  @include breakpoint(tablet__portrait) {
    .flex__col-width--#{$i} {
      max-width: 10% * $i;
    }
  }

  @include breakpoint(tablet__landscape)  {
    .flex__col-width--#{$i} {
      max-width: ($column * $i) + ($gutter * $i);
    }

    .flex__col-left--#{$i} {
      margin-left: ($column * $i) + ($gutter * $i);
    }

    .flex__col-right--#{$i} {
      margin-right: ($column * $i) + ($gutter * $i);
    }
  }
}

@include for-IE-only {

  @include breakpoint(tablet__portrait) {
    .flex__col {
      flex: 1 0 48%; // IE Fix
    }
  }
}

// Child Positioning
.flex__col, .flex__child {
  &--top {
    align-self: flex-start;
    margin-top: $gutter*2;
  }

  &--center {
    align-self: center;
  }

  &--bottom {
    align-self: flex-end;
    margin-bottom: $gutter*4;
  }
}
