$space--small: 5px;
$space: 10px;
$space--medium: 15px;
$space--large: 25px;

$padding: 1em;


// GRID
$gutter: 2%;
$column: 6%;

$max-width: 1300px;

// BUTTONS
$button--height: 40px;

// PRIMARY COLORS
$color__primary: #968650;
$color__primary--light: lighten($color__primary, 20%);
$color__primary--dark: darken($color__primary, 20%);

// SECONDARY COLORS
$color__secondary: #0A0908;
$color__secondary--light: lighten($color__secondary, 20%);
$color__secondary--dark: darken($color__secondary, 20%);

// ACCENT COLORS (Action Buttons, Interactive Elements)
$color__accent: #D36135;
$color__accent--light: lighten($color__accent, 20%);
$color__accent--dark: darken($color__accent, 20%);

// VARIATIONS OF GRAY
$color__base: #22333B;
$color__base--border: #CCCCCC;
$color__base--highlight: #EFEFEF;

// TEXT COLORS
$color__font: $color__secondary;
$color__font--light: #FFFFFF;

// FONT FAMILIES
$font__primary: 'Montserrat', sans-serif;
$font__secondary: 'Merriweather', Helvetica, Arial, sans-serif;

// FONT WEIGHTS
$font__weight: 400;
$font__weight--light: 300;
$font__weight--bold: 500;
