main {
  background-color: $color__base;

  @include respond-to(medium) {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.main__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  background-color: white;
  min-height: 100vh;
  border: $space solid $color__primary;

  @include respond-to(medium) {
    padding: 3%;
    max-width: 400px;
    min-height: 700px;
  }

  section {
    width: 100%;
    text-align: center;

    &:first-child {
      padding-top: 25%;
    }

    &.message {
      color: $color__primary;
      margin: 50px 0 5%;
    }

    &.info {
      border-top: 1px solid rgba(black, 0.5);
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  img {
    width: 97px;
    height: 82px;
    position: relative;
    left: $space--medium;
  }

  h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: convert(25, pts, ems);

    & + p {
      margin: -5px 0 0;
      padding: 0;
      font-size: convert(16, pts, ems);
      font-weight: $font__weight--light;
    }
  }
}

table.info__content {
  margin: 1.5em auto;
  width: 100%;
  max-width: 300px;

  tr {
    vertical-align: baseline;

    &.address td {
      padding-top: 22px;
    }
  }

  td {
    text-align: left;
    font-family: $font__primary;
    font-weight: $font__weight;

    &:first-child {
      text-align: center;
      font-weight: $font__weight--bold;

      @include respond-to(small) {
        min-width: 1.5em;
      }

      min-width: 3em;

      @include respond-to(medium) {
        min-width: 2em;
      }
    }

    a {
      color: black;
      text-decoration: none;

      span.email:after {
        content:'@';
      }
    }

    address {
      font-style: normal;
    }
  }
}
