{% extends "layout.html" %}

{% block title %}
  {{ title }}
{% endblock %}

    {% block body %}
      <main>

      <div class="flex">
        {% for service in services %}
        <section id="{{ service.id }}" class="services flex__col flex__col--2">
          <div class="flex content">
            <h1>{{ service.title }}</h1>
            <button id="rate--{{ loop.index }}" class="rates">
              Our Rates
            </button>
          </div>
        </section>
        {% endfor %}
      </div>

        <section class="info">

        </section>

        <section class="info">

        </section>

      </main>

      {% include "partials/footer.html" %}

    {% endblock %}
